<div class="row">
    <div class="col-xs-2">
        <strong>{{ 'mautic.factorial.timeline.event.dwell_time'|trans() }}</strong>
    </div>
    <div class="col-xs-10">
        {{ event.dwellTime|duration }}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <strong>{{ 'mautic.factorial.timeline.event.scroll'|trans() }}</strong>
    </div>
    <div class="col-xs-10">
        {{ event.extra.scrollPercentage }}%
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <strong>{{ 'mautic.factorial.timeline.event.page'|trans() }}</strong>
    </div>
    <div class="col-xs-10">
        {{ event.page|raw }}
    </div>
</div>

